footer {
    width: 100%;
    text-align: center;
    padding: 80px 0;
    font-weight: bolder;
}

.footer__contact {
    padding-top: 40px;

    .footer__contact__address {
        padding-top: 40px;

        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            color: inherit;
        }

        h2 {
            font-weight: bolder;
        }

        .address {
            padding-top: 40px;
        }
    }

    .footer__contact__map {
        img {
            max-width: 100%;
            margin-top: 40px;
        }

        @media (min-width: 1200px) {
            max-width: 400px;
            justify-self: end;
        }
    }

    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
