.navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #101010;
    z-index: 100;
    max-width: 1400px;
    margin: 40px auto;
}

.navigation__logo {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 20px;
}

.navigation__toggle-btn {
    // padding-top: 1em;
    width: 40px;
    height: 12px;
    right: 0;
    z-index: 9;

    &:hover {
        cursor: pointer;
    }

    .navigation__toggle-btn__one {
        position: absolute;
        width: 40px;
        height: 2px;
        background: #101010;
    }

    .navigation__toggle-btn__two {
        position: absolute;
        width: 40px;
        height: 2px;
        background: #101010;
        margin-top: 12px;
    }
}

.navigation__menu {
    z-index: 1;
    position: absolute;
    background: #101010;
    top: 0;
    height: 100vh;
    width: 100%;
    top: -100%;
    
}

.navigation__menu__menu-items {
    ul {
        position: absolute;
        list-style: none;
        top: 16%;
        left: 0;
        width: 100%;
        text-align: center;

        li {
            margin-bottom: 100px;
        }

        a {
            // color: #fff;
            text-decoration: none;
            font-family: GT-Super-Display-Medium;
            font-size: 100px;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
            color: grey;
            z-index: 10;

            &:hover {
                color: #fff;
            }
        }
    }

    li:nth-child(even) {
        padding-left: 10%;
    }

    // li:first-child:hover::before {
    //     content: '';
    //     z-index: -1;
    //     width: 100vw;
    //     height: 110vh;
    //     display: block;
    //     position: absolute;
    //     top: -200px;
    //     left: 0;
    //     background: url(../../images/sun.jpg);
    //     transition: 1s;
    //     animation: fade-in 2s ease-in-out;
    //     overflow: hidden;
    // }
}


.navigation__hover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.navigation__hover__image1 {
    background: url(../../images/sun.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.navigation__hover__image2 {
    background: url(../../images/sun6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.navigation__hover__image3 {
    background: url(../../images/light4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.navigation__hover__image4 {
    background: url(../../images/sun5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
}