#rain {
    background: rgb(251, 255, 251);
    background: linear-gradient(0deg, rgba(251, 255, 251, 1) 0%, rgba(92, 92, 92, 0) 100%);
    position: relative;
    margin-top: 140px;
    height: 1200px;
    margin-bottom: 200px;
}

#rain-video {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.rain__overlay {
    color: white;
    top: 25vh;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    min-height: 100vh;
    height: 400px;
    z-index: 10;

    h1 {
        font-family: GT-Super-Display-Medium;
        font-size: 180px;
    }

    p {
        padding-top: 40px;
        max-width: 400px;
    }
}

.rain-background-video {
    width: 100%;
    min-height: 100vh;
    height: 1200px;
    object-fit: cover;
}

.rain__images {
    position: absolute;
    width: 100%;
    left: 0;
    height: 800px;
    top: 0;

    .rain__images__content {
        position: relative;

        .rain__image1 {
            width: 100%;
            position: absolute;
            right: 0;
            text-align: right;

            img {
                width: 300px;
            }
        }

        .rain__image2 {
            img {
                width: 549px;
                right: 405px;
                position: absolute;
                top: 406px;
            }
        }
    }
}

#crux-magazine,
#swoon-editions {
    text-align: right;
    position: relative;

    p {
        padding-top: 40px;
        max-width: 400px;
        text-align: left;
        padding-left: calc(100% - 400px);
    }

    .crux-magazine__images {
        display: flex;
        max-width: 100%;
        padding-bottom: 200px;
    }

    .crux-magazine__image1 {
        max-width: 500px;
        object-fit: contain;
        margin-right: 10%;

        img {
            width: 100%;
        }
    }

    .crux-magazine__image2 {
        max-width: 630px;
        width: 100%;
        position: relative;

        img {
            padding-top: 130px;
            width: 100%;
            position: absolute;
            right: 0;
        }
    }
}
