body {
    background: #fbfffb;
    font-family: 'Quicksand', sans-serif;
    color: #101010;
}

h1 {
    font-family: GT-Super-Display-Medium;
    font-size: 120px;

    @media (min-width: 1200px) {
        font-size: 180px;
    }
}

p {
    line-height: 25px;
    font-size: 12px;

    @media only screen and (min-width: 1000px) {
        font-size: 16px;
    }
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.k-button {
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    background: transparent;

    &:hover {
        cursor: pointer;
    }
}

.k-button-white {
    color: white;
    border: 1px solid white;
}

.k-button-black {
    color: black;
    border: 1px solid black;
}

@import './components/navigation';
@import './components/projects';
@import './components/liquidSlider.scss';
@import './components/footer.scss';

/* ***************************************** HERO ************************************ */
#hero--wrapper {
    .container {
        width: 100%;

        @media (min-width: 1200px) {
            width: 80%;
        }
    }
}

.hero {
    min-height: 600px;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding: 280px 0;
    box-sizing: border-box;
    font-size: 0;

    @media (min-width: 1200px) {
        padding: 280px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hero__headline {
    padding-left: 10%;

    @media (min-width: 1200px) {
        padding: 0;
        position: absolute;
        width: 100%;
        filter: invert(1);
        mix-blend-mode: difference;
    }
}

.hero__image {
    display: none;

    @media (min-width: 1200px) {
        display: block;
        max-height: 80vh;
        object-fit: contain;
    }
}

#hero__trademark {
    position: absolute;
    right: 0;
    text-orientation: mixed;
    writing-mode: vertical-rl;
}

.hero__text {
    padding: 40px 10% 0 10%;

    @media (min-width: 1200px) {
        padding: 0;
        position: absolute;
        max-width: 400px;
        right: 0;
        filter: invert(1);
        mix-blend-mode: difference;
    }
}
