html {
    // scroll-behavior: smooth;
}

body {
    background: #fbfffb;
    font-family: 'Quicksand', sans-serif;
    color: #101010;
    min-height: 1084px !important;
}

h1 {
    font-family: GT-Super-Display-Medium;
    font-size: 100px;

    @media (min-width: 1000px) {
        font-size: 140px;
    }

    @media (min-width: 1400px) {
        font-size: 180px;
    }
}

p {
    line-height: 25px;
    font-size: 12px;

    @media only screen and (min-width: 1000px) {
        font-size: 16px;
    }
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.k-button {
    margin: 40px 0;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    background: transparent;

    &:hover {
        cursor: pointer;
    }
}

.k-button-white {
    color: white;
    border: 1px solid white;
}

.k-button-black {
    color: black;
    border: 1px solid black;
}

.heading-image-clip {
    background-image: url('../images/art.jpg');
    background-position: bottom;
    background-repeat: repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    white-space: nowrap;
    padding: 40px 0;
}

.vertical-header {
    @media (min-width: 800px) {
        writing-mode: vertical-lr;
        position: absolute;
    }
}

@import './components/navigation';
@import './components/projects';
@import './components/liquidSlider.scss';
@import './components/footer.scss';
@import './components/hero.scss';
@import './projects.scss';
