<section id="footer">
    <div class="container">
        <!-- contact form / office location / trademark -->
        <h1>Contact</h1>
        <div class="footer__contact">
            <div class="footer__contact__address">
                <div class="email">
                    <h2>Email</h2>
                    <p><a href="mailto:contact@kokonoka.io">contact@kokonoka.io</a></p>
                </div>
                <div class="address">
                    <h2>London Office</h2>
                    <p>1 Maltby Street</p>
                    <p>Bermondsey</p>
                    <p>London</p>
                    <p>SE1 5NS</p>
                </div>
                <div class="address">
                    <h2>Osaka Office</h2>
                    <p>1-1大深町</p>
                    <p>北区</p>
                    <p>大阪市</p>
                    <p>530-0011</p>
                </div>
            </div>
            <div class="footer__contact__map">
                <img src="../../images/map.png" alt="office map">
            </div>
        </div>
    </div>
    <footer>
        © 2021 KOKONOKA
    </footer>
</section>