<section id="hero--wrapper">
    <div class="container">
    <div class="hero">
        <h1 class="hero__headline">Creative</br> Digital</br> Agency</h1>
        <img class="hero__image" src="/images/art.jpg" alt="art">
        <p class="hero__text">
            Kokonoka is dedicated to providing quality designs to all clients ensuring businesses are well represented and set to succeed. Contact us today to see how we could help you and your company out.
            Kokonoka is dedicated to providing quality designs to all clients ensuring businesses are well represented and set to succeed. Contact us today to see how we could help you and your company out.
            <br/>
            <br/>
            <br />
            Kokonoka is dedicated to providing quality designs to all clients ensuring businesses are well represented and set to succeed. Contact us today to see how we could help you and your company out.
        </p>
    </div>
</div>
</section>