<section class="container">
    <nav class="navigation">
        <div class="navigation__languages">
            <span class="navigation__languages__en">EN</span>/
            <span class="navigation__languages__jp">日本語</span>
        </div>
        <div class="navigation__logo">KOKONOKA</div>
        <div class="navigation__hamburger">
            <div class="navigation__toggle-btn">
                <span class="navigation__toggle-btn__one"></span>
                <span class="navigation__toggle-btn__two"></span>
            </div>

            

        </div>
    </nav>
</section>

<div class="navigation__menu">
    <div class="navigation__menu__menu-items">
        <ul>
            <li><a href="#">01/ Home</a></li>
            <li><a href="#">02/ Projects</a></li>
            <li><a href="#">03/ Services</a></li>
            <li><a href="#">04/ Contact</a></li>
        </ul>
    </div>
</div>