<section id="projects">

    <div id="crux-magazine">
        <div class="container">
            <h1>Crux Magazine</h1>
            <p>Sleep was created and designed to create the perfect night's sleep. Carefully thought out to create the most streamlined approach for users to get some ZZZs as quickly as possible.</p>
            <button class="k-button">Learn More</button>
        </div>
    </div>


    <div id="rain">
        <div class="rain__overlay">
            <div class="container">
                <h1>Sleep</h1>
                <p>Sleep was created and designed to create the perfect night's sleep. Carefully thought out to create the most streamlined approach for users to get some ZZZs as quickly as possible.</p>
                <button class="k-button k-button-white">Learn More</button>
            </div>
        </div>

        <div>
            <video class="rain-background-video" autoplay loop muted>
                <source src="assets/videos/clouds-boomerang.mp4">
            </video>
        </div>

        <!-- <div id="set-height">
        </div>

        <video id="rain-video" tabindex="0", autobuffer preload>
            <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' src="assets/videos/clouds.mp4"></source>
        </video>

        <script>
            let frameNumber = 0, playbackConst = 100, setHeight = document.getElementById("set-height"), vid = document.getElementById('rain-video');

            vid.addEventListener('loadedmetadata', function() {
                setHeight.style.height = Math.floor(vid.duration) * playbackConst + "px";
            })

            function scrollPlay() {
                let frameNumber = window.pageYOffset/playbackConst;
                vid.currentTime = frameNumber;
                window.requestAnimationFrame(scrollPlay);
            }

            window.requestAnimationFrame(scrollPlay);
        </script> -->

    </div>

</section>