<section id="projects">
    <div id="crux-magazine">
        <div class="container">
            <h1>Crux <br/>Magazine</h1>
            <p>Sleep was created and designed to create the perfect night's sleep. Carefully thought out to create the most streamlined approach for users to get some ZZZs as quickly as possible.</p>
            <button class="k-button k-button-black">Learn More</button>
            <div class="crux-magazine__images">
                <div class="crux-magazine__image1">
                    <img  src="images/swoon2.png" alt="living room">
                </div>
                <div class="crux-magazine__image2">
                    <img  src="images/crux-magazine-desktop.png" alt="crux magazine desktop website design">
                </div>
            </div>
        </div>
    </div>
    <div id="rain">
        <div class="rain__overlay">
            <div class="container">
                <h1>Sleep</h1>
                <p>Sleep was created and designed to create the perfect night's sleep. Carefully thought out to create the most streamlined approach for users to get some ZZZs as quickly as possible.</p>
                <button class="k-button k-button-white">Learn More</button>
                <div class="rain__images">
                    <div class="rain__images__content container">
                        <div class="rain__image1">
                            <img src="images/sleep-mobile.png" alt="sleep app mobile design">
                        </div>
                        <div class="rain__image2">
                            <img src="images/sleep-desktop.png" alt="sleep app desktop design">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <video class="rain-background-video" autoplay loop muted>
                <source src="assets/videos/clouds-boomerang.mp4">
            </video>
        </div>
    </div>
    <div id="sleep--mobile">
        <div class="container">
            <h1>Sleep</h1>
            <p>Sleep was created and designed to create the perfect night's sleep. Carefully thought out to create the most streamlined approach for users to get some ZZZs as quickly as possible.</p>
            <button class="k-button k-button-black">Learn More</button>
            <div class="sleep--mobile__img">
                <img src="images/sleep-mobile.png" alt="sleep app mobile design">
            </div>
        </div>
    </div>
    <div id="swoon-editions">
        <div class="container">
            <h1>Swoon <br/>Editions</h1>
            <p>Sleep was created and designed to create the perfect night's sleep. Carefully thought out to create the most streamlined approach for users to get some ZZZs as quickly as possible.</p>
            <button class="k-button k-button-black">Learn More</button>
            <div class="crux-magazine__images">
                <div class="crux-magazine__image1">
                    <img  src="images/swoon-editions4.png" alt="living room">
                </div>
                <div class="crux-magazine__image2">
                    <img  src="images/swoon-editions2.jpg" alt="crux magazine desktop website design">
                </div>
            </div>
        </div>
    </div>

        <div class="container">
            <h1>Contact</h1>
            <div class="footer__contact">
                <div class="footer__contact__address">
                    <div class="email">
                        <h2>Email</h2>
                        <p><a href="mailto:contact@kokonoka.io">contact@kokonoka.io</a></p>
                    </div>
                    <div class="address">
                        <h2>London Office</h2>
                        <p>1 Maltby Street</p>
                        <p>Bermondsey</p>
                        <p>London</p>
                        <p>SE1 5NS</p>
                    </div>
                    <div class="address">
                        <h2>Osaka Office</h2>
                        <p>1-1大深町</p>
                        <p>北区</p>
                        <p>大阪市</p>
                        <p>530-0011</p>
                    </div>
                </div>
                <div class="footer__contact__map">
                    <img src="../../images/map.png" alt="office map">
                </div>
            </div>
        </div>

        <footer>© 2021 KOKONOKA</footer>
</section>
